.video-playlist {
    padding: 0px;
}
.playlist {
    list-style: none;
    display: block;
    float: left; 
    border-right: darkgray 1px solid;
    border-bottom: darkgray 1px solid;
}
.list-video {
    display: block;
    white-space:nowrap;
    width: 60%;
    overflow:hidden;
    text-overflow: ellipsis; 
}
p {
    text-indent: 2em;
}
.ydm_video_box{
    clear:both;
    background:#000;
    color:#e4e5e6;
    padding:5px 0px;
}
.ydm_video_box h4{
    color:#e4e5e6;
    font-size:14px;
    padding-left:15px;
}
.ydm_video_box .time{
    font-size:12px;
    color:#636363;
    padding-left:15px;
}
.ydm_video_box .page{
    color:#636363;
    font-size:14px;
    float:right;
    padding-right:15px;
}
.ydm_label{
    padding-left:15px;
    padding-right:10px;
    font-size:14px;
}
.ydm_label span{
    padding-left:0px;
    padding-right:0px;
    border:1px solid #e4e5e6;
    border-top:none;
    margin-right:-1px;
    text-align:center;
    line-height:38px;
}
.ydm_label span a{
    display:block;
    text-decoration:none;
    color:#000;
    line-height:38px;
    border-radius:0;
}
.ydm_label span a:hover,
.ydm_label span a:focus,
.ydm_label span a:active{
    color:#000;
    background-color:#e4e5e6;
}
.ydm_translate{
    margin:25px 5px 0px;
    clear:both;
}
.ydm_translate .button_style{
    text-align:left;
    width:100%;
}
.ydm_video_list{
    padding:0px 15px 15px;
    margin-top:40px;
}

.ydm_video_list h3{
    font-size:14px;
    color:#666;
}
.ydm_video_list ul{
    list-style:none;
    font-size:18px;
    margin:0;
    padding:0;
}
.ydm_video_list ul li{
    margin-top:10px;
    border-radius:5px;
}
.ydm_video_list ul li a{
    color:#666;
    text-decoration:none;
}
.ydm_video_list ul li:hover{
    background-color:#e4e5e6;
}