.feature {
	margin-top: 2em;
	width: 485px;
	position: relative
}
.feature H2 {
	MARGIN: 20px 0px 7px;
	text-align: left;
	text-indent: 10px;
}
.feature A IMG {
    margin: 0px;
    padding: 1px;
    border: 1px solid #ccc;
}
.feature A:hover IMG {
    background-color: #ffc;
    border: 1px solid #2388ff;
}
#my-glider {
	POSITION: relative
}
.scroller {
	OVERFLOW: hidden; WIDTH: 880px; HEIGHT: 104px
}
.scroller .section {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 880px; WHITE-SPACE: nowrap; HEIGHT: 104px; TEXT-ALIGN: center
}
.scroller .content {
	WIDTH: 10000px
}
#prevLink {
    display: block;
    overflow: hidden;
    width: 20px;
    text-indent: -99999px;
    position: absolute;
    top: 35%;
    height: 20px;
    background: url(../images/glider-arrows.png) no-repeat;
}
#nextLink {
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 20px;
	TEXT-INDENT: -99999px;
	POSITION: absolute;
	TOP: 35%;
	HEIGHT: 20px;
    background: url(../images/glider-arrows.png) no-repeat;
}
#prevLink:hover {
    background-position: 0px -19px
}
#nextLink {
    background-position: -19px 0px
}
#nextLink:hover {
    background-position: -19px -19px
}
#prevLink {
    left: -18px
}
#nextLink {
    right: -18px
}
